<nav class="pagination" role="pagination">
  {% if paginator.total_pages > 1 %}

  {% assign window_start = paginator.page | minus: 2 %}
  {% if window_start < 1 %}{% assign window_start = 1 %}{% endif %}
  {% assign window_end = window_start | plus: 4 %}
  {% if window_end > paginator.total_pages %}
    {% assign window_end = paginator.total_pages %}
    {% assign window_start = window_end | minus: 4 %}
    {% if window_start < 1 %}{% assign window_start = 1 %}{% endif %}
  {% endif %}

  <ul class="pagination-list">
    <li>
      {% if paginator.page > 1 %}
        <a class="pagination-link" href="{{ site.baseurl }}/"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
      {% else %}
        <span class="pagination-link disabled"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
      {% endif %}
    </li>

    <li>
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
          <a class="pagination-link newer-posts" href="{{ site.baseurl }}/"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        {% else %}
          <a class="pagination-link newer-posts" href="{{ site.baseurl }}/page/{{ paginator.previous_page }}/"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        {% endif %}
      {% else %}
        <span class="pagination-link disabled"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
      {% endif %}
    </li>

    {% for p in (window_start..window_end) %}
    <li>
      {% if p == paginator.page %}
        <span class="pagination-link active">{{ p }}</span>
      {% elsif p == 1 %}
        <a class="pagination-link" href="{{ site.baseurl }}/">{{ p }}</a>
      {% else %}
        <a class="pagination-link" href="{{ site.baseurl }}/page/{{ p }}/">{{ p }}</a>
      {% endif %}
    </li>
    {% endfor %}

    <li>
      {% if paginator.next_page %}
        <a class="pagination-link older-posts" href="{{ site.baseurl }}/page/{{ paginator.next_page }}/"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
      {% else %}
        <span class="pagination-link disabled"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
      {% endif %}
    </li>

    <li>
      {% if paginator.page < paginator.total_pages %}
        <a class="pagination-link" href="{{ site.baseurl }}/page/{{ paginator.total_pages }}/"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
      {% else %}
        <span class="pagination-link disabled"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
      {% endif %}
    </li>
  </ul>

  {% endif %}
</nav>
